
services:
  api:
    build: .
    container_name: royal-escape-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: royal-escape-redis
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  redis_data:
